﻿@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('font-awesome-4.7.0/css/font-awesome.css');

body {
    background-color: #f1f1f1;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-top: 50px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 1px 2px 2px 2px #eee;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 400px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.navbar-inverse .navbar-nav > li > a  {
    font-weight: 800;
    font-size: 1.4em;
    font-family: Ubuntu;

}

.completedLesson {
    background-color: #18BC9C;
    padding: 5px;
    color: #fff;
    text-decoration-line: line-through;
}

.completedCourse {
    color: #18BC9C;
    border: 1px solid #18BC9C;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
    font-weight: bolder;
    font-size: .9em;
    border-radius: 28px;
    /*text-decoration-line: line-through;*/
}
.unstartedCourse {
    color: #d81659;
    border: 1px solid #d81659;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
    font-weight: bolder;
    font-size: .9em;
    border-radius: 28px;
}

.inProgressCourse {
    color: #4a97ab;
    border: 1px solid #4a97ab;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
    font-weight: bolder;
    font-size: .9em;
    border-radius: 28px;
}

.completedLesson i, .completedCourse i, .inProgressCourse i, .unstartedCourse i {
    margin-right: 5px;
}

.lesson-container ul{
    border-top: 1px solid #18BC9C;
    padding: 30px 20px 50px 20px;
}

    .lesson-container li {
        border: 1px solid #18BC9C;
        margin: 2px;
        padding: 1% 3%;
    }

    .lesson-container a li:hover {
        background-color: #f1f1f1;
        text-decoration: none;
    }

    .lesson-container a:hover {
        text-decoration: none;
    }

    .panel-group .col-md-4 {
        margin-bottom: 2%;
    }

    .intro-header {
        color: #18BC9C;
    }

    .intro-count {
         color: #18BC9C;
         font-weight: 900;
         font-size: 1.7em;
         padding: 0 8px;
    }

    .dataTables_filter input {
    padding: 5px;
    width: 300px;
    border: 2px solid #ccc;
}
    .dataTables_filter input:focus {
    padding: 5px;
    width: 300px;
    border: 2px solid #18BC9C;
}

    .login-brand {
        color: #18BC9C;
        font-weight: 900;
        font-family: Ubuntu;
        font-size: 3em;
    }
