﻿
@{
    ViewBag.Title = "Contact Confirmation";
}

<h2 class="jumbotron">Your message has been sent!</h2>

@if (Request.IsAuthenticated)
{
    <a href="@Url.Action("Index", "Courses")" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i>Back to courses</a>
}
else
{
    <a href="@Url.Action("Login", "Account")" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i>Back to login</a>
}



