﻿@model FSDP.UI.Models.ContactViewModel

@{
    ViewBag.Title = "Contact";
}

<div class="row">
        <div class="contact-form col-md-6 col-md-offset-3">
            <h2 class="title">Contact Your Admins</h2>
            <br />
            <div class="status alert alert-success" style="display: none"></div>
            @using (@Html.BeginForm(new { @class = "contact-form row", name = "contact-form", id = "main-contact-form", onsubmit = "validateForm(event)" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group col-md-12">
                    @Html.DisplayFor(x => x.Name, new { @class = "form-control" })
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Name" })
                    @Html.ValidationMessageFor(x => x.Name)
                    <span id="nameVal" class="invalid"></span>
                    @*<input type="text" name="name" class="form-control" placeholder="Name">
                    *@
                </div>

                <div class="form-group col-md-12">
                    @Html.DisplayFor(x => x.Email, new { @class = "form-control" })
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Email", title = "We will keep your email confidential." })
                    @Html.ValidationMessageFor(x => x.Email)
                    <span id="emailVal" class="invalid"></span>
                    @*<input type="text" name="email" class="form-control" placeholder="Email">
                    *@
                </div>

                        <div class="form-group col-md-12">
                            @Html.DisplayFor(x => x.Subject, new { @class = "form-control" })
                            @Html.TextBoxFor(x => x.Subject, new { @class = "form-control", placeholder = "Subject" })
                            @Html.ValidationMessageFor(x => x.Subject)
                            <span id="subjectVal" class="invalid"></span>
                            @*<input type="text" name="subject" class="form-control" placeholder="Subject">
                            *@
                        </div>

                        <div class="form-group col-md-12">
                            @Html.DisplayFor(x => x.Message, new { @class = "form-control" })
                            @Html.TextAreaFor(x => x.Message, new { @class = "form-control", placeholder = "Message" })
                            @Html.ValidationMessageFor(x => x.Message)
                            <span id="messageVal" class="invalid"></span>
                            @*<textarea name="message" id="message" class="form-control" rows="8" placeholder="Your Message Here"></textarea>
                            *@
                        </div>

                        <div class="form-group col-md-12">
                            <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Back</a>
                            <input type="submit" name="submit" class="btn btn-primary" value="Submit">
                        </div>
            }

        </div>
    </div>

