﻿@model IEnumerable<FSDP.Data.Course>
@using Microsoft.AspNet.Identity;
@using System.Data;
@using System.Linq;
@using FSDP.Data;

@{
    ViewBag.Title = "Home Page";
    UnitOfWork uow = new UnitOfWork();
    string userId = User.Identity.GetUserId();
}

<div class="jumbotron">
    <h1 class="intro-header">Welcome, @Session["FirstName"]!</h1>
    <p class="lead">You have completed <span class="intro-count">@ViewBag.CompletedCourses</span> 
    @(ViewBag.CompletedCourses == 1 ? "course" : "courses") so far this year.</p>

</div>

<div class="row">
    <div class="panel-group">
        @* Loop through each course and display as a Bootstrap panel *@
        @foreach (var item in Model.Where(c => c.IsActive == true))
        {
            var pctComplete = uow.CourseRepository.GetCompletionPercentage(item.CourseID, userId);

            @* Declare variables needed to determine completion percentage of each course*@

            //var lessons = item.Lessons.Where(x => x.IsActive == true).ToList();

            //int viewedLessonCount = 0;
        @*loop through each lesson in the current course object to determine the count of viewed lessons*@
            //foreach (var lesson in lessons)
            //{
            //    if (lesson.LessonViews.Where(l => l.UserID.Equals(userId)).Count() > 0)
            //    {
            //        viewedLessonCount += 1;
            //    }
            //}

        @*Use variables determined above to find the completion percentage for current Course. If either variable is 0, manually assign a percentage of 0 to avoid trying to divide by 0*@
            //int pctComplete = 0;
            //if (lessons.Count > 0 && viewedLessonCount > 0)
            //{
            //    pctComplete = (viewedLessonCount * 100) / lessons.Count;
            //}

        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <p class="lead">@item.Name</p>
                </div>
                <div class="panel-body">
                    <br />
                    <p>@item.Description</p>
                    <br />
                    @if (pctComplete == 0)
                    {
                        <p class="unstartedCourse"><i class="glyphicon glyphicon-info-sign"></i> You have not started this course yet</p>
                    }
                    else if (pctComplete == 100)
                    {
                        <p class="completedCourse"><i class="glyphicon glyphicon-ok"></i> You have completed this course!</p>
                    }
                    else
                    {
                        <p class="inProgressCourse"><i class="glyphicon glyphicon-cog"></i> You have completed @pctComplete% of this course</p>
                    }
                </div>
                <div class="panel-footer">
                    <a href="@Url.Action("Details", "Courses", new { id = @item.CourseID })" class="card-link btn btn-success">View Course</a>
                </div>
            </div>
        </div>

        }
    </div>
</div>


