﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Expedia Continuing Education</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css">
    <link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @if (Request.IsAuthenticated)
    {
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" id="mainNav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Courses", "Index", "Courses")</li>
                    <li>@Html.ActionLink("Lessons", "Index", "Lessons")</li>
                    
                    @*<li>@Html.ActionLink("Completed Courses", "Index", "CourseCompletions")</li>
                    <li>@Html.ActionLink("Viewed Lessons", "Index", "LessonViews")</li>*@

                    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                    {
                    <li>@Html.ActionLink("All Completions", "ManagerView", "CourseCompletions")</li>
                    }

                    @if (User.IsInRole("Admin"))
                    {                      
                        <li>@Html.ActionLink("Users", "Index", "UsersAdmin")</li>
                    }
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    }
    else
    {
        <h1 class="text-center login-brand">
            <i class="fa fa-graduation-cap fa-6"></i>
            <br />
            Expedia LMS
        </h1>
    }


    @*AJAX Placeholder*@
    
    <div class="container body-content">
        <div id="MessageDisplay" class="row">
            <div class="col-md-10 col-md-offset-1" id="MessageContent"></div>
        </div>
        @RenderBody()        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.ajax.unobtrusive/3.2.4/jquery.unobtrusive-ajax.min.js"></script>
    @RenderSection("scripts", required: false)

    @*Selected Tab Highlighting*@
    <script type="text/javascript">
        //If your selected or active class needs to be applied to an anchor tag, use the '#id' li a' selector
        $('.navbar li').each(function () {
            if($(this).find('a').attr('href') ==
                window.location.pathname) {
                $(this).addClass('active');
            }
        })

    </script>
</body>
</html>
