﻿@model FSDP.Data.Lesson

@{
    ViewBag.Title = Model.Title + " Details";
    if (ViewBag.CourseCount > 0 && ViewBag.TotalLessons > 0)
    {
        ViewBag.PctComplete = (ViewBag.CourseCount * 100 / ViewBag.TotalLessons);
    }
    else
    {
        ViewBag.PctComplete = 0;
    }
}

<p class="lead"><span class="text-muted">Course:</span>  <strong>@ViewBag.CourseName</strong> <span class="text-muted pull-right">@ViewBag.CourseCount/@ViewBag.TotalLessons Lessons Completed</span></p>
<div class="progress">
    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="@ViewBag.PctComplete" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.PctComplete%">
        <span class="sr-only">@ViewBag.PctComplete% Complete</span>
    </div>
</div>
<hr />

<div class="col-md-8 col-md-offset-2 text-center">
    <h1 class="success"> <strong>@Model.Title</strong></h1>
    <p class="lead">
        @Html.DisplayFor(model => model.Introduction)
    </p>
    <hr />
    PDF Link:
    @if (Model.PdfFilename == "")
    {
        <p>There is no PDF for this lesson</p>
    }
    else
    {
      <a href="~/Content/Files/@Model.PdfFilename" target="_blank"> @Model.PdfFilename</a>
    }
    <br />
    <br />
</div>

<div class="col-md-12 text-center">
    @if (Model.VideoURL != null)
    {
        <div id="player"></div>
    }
    else
    {
        <h2 class="jumbotron text-center">
            There is no video for this lesson
        </h2>
    }
    <br />
    
</div>

<div class="col-md-8 col-md-offset-2">
    <hr />

    <p class="text-center">
        <a class="btn btn-success" href="@Url.Action("Details", "Courses", new { id = Model.CourseID })">Complete Lesson</a>
    </p>
</div>

@section scripts{
    
    <script src="http://www.youtube.com/player_api"></script>

<script>
// create youtube player
var player;
var h = '@ViewBag.height';
var w = '@ViewBag.width';
function onYouTubePlayerAPIReady() {
player = new YT.Player('player', {
height: 360,
width: 640,
modestbranding: 1,
videoId: '@ViewBag.VideoURL',
playerVars: {
rel: 0,
autoplay: 0,
disablekb: 0,
showsearch: 0,
showinfo: 0,
controls: 1,
fs: 1,
hd: 1,
html5: 1,
iv_load_policy: 3
},
events: {
onReady: onPlayerReady,
onStateChange: onPlayerStateChange
}
});
}
// autoplay video
function onPlayerReady(event) {
event.target.playVideo();
}

// when video ends
function onPlayerStateChange(event) {
if(event.data === 0) {
//do something on end;
alert('done');
}
}
</script>
    }
