﻿@model IEnumerable<FSDP.Data.Lesson>

@{
    ViewBag.Title = "All Lessons";
}

<h2>Lessons</h2>

@if (User.IsInRole("Admin"))
{

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Active </a></li>
        <li><a data-toggle="tab" href="#menu2">Inactive </a></li>
    </ul>
}

<div class="tab-content">
    <br />
    <div id="home" class="tab-pane fade in active">
        <br />
        <table class="table" id="activeTable">
            <thead>
                <tr>
                    @if (User.IsInRole("Admin"))
                    {
                        <th></th>
                        <th></th>
                    }
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        Course
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Introduction)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PdfFilename)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where(x => x.IsActive == true))
                {
                    <tr id="ActiveLesson-@item.LessonID">
                        @if (User.IsInRole("Admin"))
                        {
                            <td>
                                @Ajax.ActionLink("Unpublish", "AjaxUnpublish", "Lessons", new { id = item.LessonID },
                            new AjaxOptions
                            {
                                HttpMethod = "POST",
                                OnSuccess = "unpublishConfirmed"
                            })
                            </td>
                                <td>
                                    <a href="@Url.Action("Edit", "Lessons", new { id = item.LessonID })">Edit</a>
                                </td>
                        }
                        <td>
                            <a href="@Url.Action("Details", "Lessons", new { id = item.LessonID })">
                                @Html.DisplayFor(modelItem => item.Title)
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cours.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Introduction)
                        </td>
                        <td>
                            <a href="~/Content/Files/@item.PdfFilename" target="_blank">@item.PdfFilename</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (User.IsInRole("Admin"))
    {
        <div id="menu2" class="tab-pane fade in">
            <br />
            <table class="table" id="inactiveTable">
                <thead>
                    <tr>
                        @if (User.IsInRole("Admin"))
                        {
                            <th></th>
                                <th></th>
                        }
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            Course
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Introduction)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PdfFilename)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Where(x => x.IsActive == false))
                    {
                        <tr id="Lesson-@item.LessonID">
                            @if (User.IsInRole("Admin"))
                            {
                                <td>
                                    @Ajax.ActionLink("Publish", "AjaxPublish", "Lessons", new { id = item.LessonID },
new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "publishConfirmed"
})
                                </td>
                                    <td>
                                        <a href="@Url.Action("Edit", "Lessons", new { id = item.LessonID })">Edit</a>
                                    </td>
                            }
                            <td>
                                <a href="@Url.Action("Details", "Lessons", new { id = item.LessonID })">
                                    @Html.DisplayFor(modelItem => item.Title)
                                </a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cours.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Introduction)
                            </td>
                            <td>
                                <a href="~/Content/Files/@item.PdfFilename" target="_blank">@item.PdfFilename</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

@section scripts{
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $('#activeTable').DataTable();
            $('#inactiveTable').DataTable();
        });
    </script>

    <script>
        //----Ajax Publish Confirmation----
        function publishConfirmed(response, status, data) {
            //remove the row from the table
            var rowId = "#Lesson-" + response.id;
            var row = $('#inactiveTable').find(rowId);
            $('#activeTable').append(row);
            $('#inactiveTable').find(rowId).remove();

            //display a status message
            $('#MessageContent').html("<div class='alert alert-dismissable alert-success'>" + response.message + "</div>");
        }

        function unpublishConfirmed(response, status, data) {
            //remove the row from the table
            var rowId = "#ActiveLesson-" + response.id;
            var row = $('#activeTable').find(rowId);
            $('#inactiveTable').append(row);
            $('#activeTable').find(rowId).remove();

            //display a status message
            $('#MessageContent').html("<div class='alert alert-dismissable alert-success'>" + response.message + "</div>");
        }
    </script>
}