﻿@model IEnumerable<FSDP.Data.CourseCompletion>

@{
    ViewBag.Title = "Course Completions";
}

<h2>Completed Courses</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cours.Name)
        </th>
        <th>Category</th>
        <th>
            @Html.DisplayNameFor(model => model.DateCompleted)
        </th>
    </tr>

@foreach (var item in Model.OrderBy(i => i.Cours.CourseCategory.Name)) {

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cours.Name)
        </td>
        <td>@item.Cours.CourseCategory.Name</td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCompleted)
        </td>   
    </tr>
}

</table>
