﻿@model IEnumerable<FSDP.Data.LessonView>

@{
    ViewBag.Title = "User Lesson Views";
}

<h2>My Lesson Views</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateViewed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lesson.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateViewed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lesson.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LessonViewID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LessonViewID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LessonViewID })
        </td>
    </tr>
}

</table>
