﻿@model IEnumerable<FSDP.Data.LessonView>

@{
    ViewBag.Title = "Viewed Lessons";
}

@foreach (var item in Model.GroupBy(course => course.Lesson.Cours.Name).Select(group => new { Course = group.Key, Count = group.Count() }))
{
    <div class="row">
        <div class="col-md-6 lead">
                @item.Course
        </div>
        <div class="col-md-6 text-right lead">
            @item.Count/6 Courses Completed
        </div>
        <div class="col-md-12">
            @if (item.Count == 0)
                {
                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                    </div>
                </div>
            }
            else
            {

                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="@(item.Count * 100 / 6)" aria-valuemin="0" aria-valuemax="100" style="width: @(item.Count * 100 / 6)%">
                    </div>
                </div>

            }
        </div>
    </div>
    <hr />
}

@*<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            Employee
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lesson.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateViewed)
        </th>      
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.AspNetUser.FirstName @item.AspNetUser.LastName          
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lesson.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateViewed)
        </td>
        
        
    </tr>
}

</table>*@
