﻿@model IEnumerable<FSDP.Data.LessonView>

@{
    ViewBag.Title = "ManagerView";
}

<h2>Completion Progress</h2>
<br />
<hr />
@foreach (var item in Model.GroupBy(user => user.AspNetUser.FirstName + " " + user.AspNetUser.LastName).Select(group => new { UserID = group.Key, Count = group.Count() }).OrderBy(x => x.Count))
{
    <div class="row">
        <div class="col-md-6 lead">           
                @item.UserID
        </div>
        <div class="col-md-6 text-right lead">
            @item.Count/6 Courses Completed
        </div>
        <div class="col-md-12">
            @if (item.Count == 0)
                {
                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                    </div>
                </div>
            }
            else
            {

                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="@(item.Count * 100 / 6)" aria-valuemin="0" aria-valuemax="100" style="width: @(item.Count * 100 / 6)%">
                    </div>
                </div>

            }
        </div>
    </div>
    <hr />
}