﻿@model IEnumerable<FSDP.UI.Models.ApplicationUser>

@{
    ViewBag.Title = "Manage Users";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Add User", "Create")<br />
    @Html.ActionLink("Roles", "Index", "RolesAdmin")
</p>
<table class="table">
    <tr>
        <th>
            Email
        </th>
        <th>Name</th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(m => item.FirstName) 
                @Html.DisplayFor(m => item.LastName)               
            </td>
           
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
