﻿@model FSDP.Data.Course
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Details";
    var userId = User.Identity.GetUserId();
    if (ViewBag.CourseCount > 0 && Model.Lessons.Where(l => l.IsActive == true).Count() > 0)
    {
        ViewBag.PctComplete = (ViewBag.CourseCount * 100 / Model.Lessons.Where(l => l.IsActive == true).Count());
    }
    else
    {
        ViewBag.PctComplete = 0;
    }
}

<p class="lead"><span class="text-muted">Course:</span> <strong>@Model.Name </strong><span class="text-muted pull-right">@ViewBag.CourseCount/@Model.Lessons.Where(l => l.IsActive == true).Count() Lessons Completed</span></p>
<div class="progress">
    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="@ViewBag.PctComplete" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.PctComplete%">
        <span class="sr-only">@ViewBag.PctComplete% Complete</span>
    </div>
</div>
<hr />
<p>Method Test: @ViewBag.completionPct</p>

<a href="@Url.Action("Index", "Home")" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i></a>
@if (User.IsInRole("Admin"))
{
<a href="@Url.Action("Edit", "Courses", new { id = Model.CourseID })" class="btn btn-info"><i class="glyphicon glyphicon-pencil"></i></a>
}
<br />
<div class="row">
    <div class="text-center col-md-8 col-md-offset-2">

        <p class="text-muted">
            Category: @Html.DisplayFor(model => model.CourseCategory.Name)
        </p>

        <p class="lead">@Html.DisplayFor(model => model.Description)</p>

        @Html.DisplayFor(model => model.CourseImage)

    </div>

    <div class="col-md-8 col-md-offset-2 lesson-container">
        <h3 class="text-center"> Lessons <span class="badge"> @Model.Lessons.Where(x => x.IsActive == true).Count()</span></h3>
        <ul class="list-group">
            @foreach (var item in Model.Lessons.Where(l => l.IsActive == true))
            {

                <a href="@Url.Action("Add", "LessonViews", new { id = item.LessonID })">
                    @if (item.LessonViews.Where(x => x.UserID.Equals(userId)).Count() > 0)
                    {
                        <li class="list-group-item completedLesson">
                            <h4>
                                <i class="glyphicon glyphicon-ok"></i> 
                                 @item.Title
                            </h4>
                            <p class="text-muted text-center">@item.Introduction</p>
                        </li>
                    }
                    else
                    {
                        <li class="list-group-item">
                            <h4>@item.Title</h4>
                            <p class="text-muted text-center">@item.Introduction</p>
                        </li>
                    }

                </a>
            }
        </ul>
    </div>

</div>






