﻿@model IEnumerable<FSDP.Data.Course>

@{
    ViewBag.Title = "Courses";
}

<h2>@ViewBag.Title</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Courses</a></li>
        <li><a data-toggle="tab" href="#menu2">Inactive</a></li>
    </ul>
}

<div class="tab-content">
    <br />
    <div id="home" class="tab-pane fade in active">
        <table class="table" id="activeTable">
            <thead>
                <tr>
                    @if (User.IsInRole("Admin"))
                    {
                    <th></th>
                    <th></th>
                    }
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where(x => x.IsActive == true))
            {
                <tr id="ActiveCourse-@item.CourseID">
                    @if (User.IsInRole("Admin"))
                        {
                        <td>
                            @Ajax.ActionLink("Unpublish", "AjaxUnpublish", "Courses", new { id = item.CourseID },
new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "unpublishConfirmed"
})
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", "Courses", new { id = item.CourseID })">Edit</a>
                        </td>
                        }
                    <td>
                        <a href="@Url.Action("Details","Courses", new { id = item.CourseID })">
                            @Html.DisplayFor(modelItem => item.Name)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseCategory.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>

                </tr>
                }
            </tbody>

        </table>
    </div>

    @if (User.IsInRole("Admin"))
    {
        <div id="menu2" class="tab-pane fade">
            <table class="table" id="inactiveTable">
                <thead>
                    <tr>
                        @if (User.IsInRole("Admin"))
                        {
                            <th></th>
                            <th></th>
                        }
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            Category
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Where(m => m.IsActive == false))
                {
                        <tr id="InactiveCourse-@item.CourseID">
                            @if (User.IsInRole("Admin"))
                    {
                                <td>
                                    @Ajax.ActionLink("Publish", "AjaxPublish", "Courses", new { id = item.CourseID },
new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "publishConfirmed"
})
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit", "Courses", new { id = item.CourseID })">Edit</a>
                                </td>
                            }

                            <td>
                                <a href="@Url.Action("Details","Courses")">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CourseCategory.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsActive)
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

@section scripts{
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $('#activeTable').DataTable();
            $('#inactiveTable').DataTable();
        });
    </script>

    <script>
        //----Ajax Publish Confirmation----
        function publishConfirmed(response, status, data) {
            //remove the row from the table
            var rowId = "#InactiveCourse-" + response.id;
            var row = $('#inactiveTable').find(rowId);
            $('#activeTable').append(row);
            $('#inactiveTable').find(rowId).remove();

            //display a status message
            $('#MessageContent').html("<div class='alert alert-dismissable alert-success'>" + response.message + "</div>");
        }

        function unpublishConfirmed(response, status, data) {
            //remove the row from the table
            var rowId = "#ActiveCourse-" + response.id;
            var row = $('#activeTable').find(rowId);
            $('#inactiveTable').append(row);
            $('#activeTable').find(rowId).remove();


            //display a status message
            $('#MessageContent').html("<div class='alert alert-dismissable alert-success'>" + response.message + "</div>");
        }
    </script>
}
